.card {
    display: grid;
    gap: 16px;
    padding: 16px;
    text-align: center;
  }

.card {
    padding: 16px;
    background-color: #f1ebebe0;
    border: 1px solid #3b14a7;
    border-radius: 100px;
  }
  @media (max-width: 768px) {
    .card{
      grid-template-columns: 1fr;
    }
  }
  @media (min-width: 769px) {
    .card {
      grid-template-columns: 2fr 1fr;
    }
    
    .card {
      grid-column: span 2;
    }
  }
  @media (min-width: 768px) {
    #hamburger {
        display: none;
    }
     }
  